.content {
  padding: 24px;
}

mat-toolbar {
  position: relative;
  z-index: 5;
}

mat-sidenav-container {
  height: calc(100vh - 6em);
}

mat-sidenav,
mat-sidenav-content {
  transition: all 0.3s ease-in-out;
}
