Backend/Fing.Idatos.CoordinadorEventos/.vs/Fing.Idatos.CoordinadorEventos/FileContentIndex
Backend/Fing.Idatos.CoordinadorEventos/.vs
Backend/*/bin
Backend/*/obj
Backend/*/bin
Backend/aspnet-core/Fing.Idatos.CoordinadorEventos/.vs
Backend/aspnet-core/Fing.Idatos.CoordinadorEventos/.vs
Backend/aspnet-core/*/bin
Backend/aspnet-core/*/obj
Backend/aspnet-core/*/.vs
Backend/aspnet-core/*/bin
Backend/aspnet-core/*/obj
