.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.font-titulo {
    font-size: 32px;
    font-family: cursive;
    padding: 16px;
}

mat-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    max-width: 600px;
    width: fit-content;
}

mat-card-title {
    word-break: break-word;
    text-align: center;
    padding: 0;
}